header
{
    display: flex;
    flex-wrap: wrap;
}
.button_lecture{
    display: flex;
    height: 25px;
    gap: 1em;
    flex: 1;
    
    
}

.volume{
    display: flex;
    flex: 2;

 
}


.lecteur{
    display: flex;
   
}

.recherche{
    display: flex;
}

main{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;

}

.galerie{
    display: flex;
    flex-wrap: wrap;
    
}

.galerie img{
    height: 250px;

}